.App {
  font-family: sans-serif;
  /* text-align: center; */
  display: flex;
  height: 100vh;
  /* padding: 10px; */
  background-color: #105e72;
}

.sideBar {
  margin: 10px;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid;
  padding-right: 5px;
  padding-top: 5px;
  max-height: 100%;
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  border-color: #156372;
  border-radius: 5px;
  border-width: 1px;
  overflow-x: scroll;
}

.folderWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  margin: 2px;
}

.item {
  margin-top: 2px;
  /* background-color: rgb(210, 201, 201); */
}
